@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Roboto&family=Work+Sans:wght@300;400;700&display=swap');

:root {
    --tipografia : 'Roboto' , sans-serif;
    --colorAmarillo : #eac926;
    --colorAzul : #03264c;
    --colorCeleste : #1259c3;
    --colorGrisOscuro : #666;
    --colorGrisClaro : #ebebeb;
    --colorVerde : #39b54a;
    --tamañoCuerpoDeTexto : 12px;
    --tamañoTitulares : 24px;
    --tamañoPrecios : 18px;
    --tamañoDescuentos : 16px;
    --tamañoDescripciones : 16px;
}

* {
    font-family: var(--tipografia);
    margin: 0;
}  
  
a {
    color: var(--colorGrisOscuro);
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

/* HOME */

.home_header {
    background-color: var(--colorAmarillo);
    padding: 30px 0px 20px;
}

.home_header_div-img {
    width: 125px;
    margin-left: 20px;
    margin-bottom: 14px;
    margin-top: 0px;
}

.home_header_div-img-logo {
    width: 100%;
}

/*.home_header_form {}*/

.home_header_form_input {
    display: block;
    margin-left: 11px;
}

.home_header_form_button {
    margin-top: 2px;
    border-radius: 3px;
    padding: 2px;
    margin-left: 11px;
}

/*.home_header_form_button i {}*/

.home_header_p {
    text-align: center;
    margin-top: 15px;
    font-size: 11px;
}

.home_header_nav-menu {
    margin-top: 20px;
}

.home_header_nav-menu ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

/*.home_header_nav-menu ul li{}*/

/*.home_header_nav-menu ul li a{}*/

.home_header_nav-ops {
    margin-top: 20px;
}

.home_header_nav-ops ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

/*.home_header_nav-ops ul li{}*/

/*.home_header_nav-ops ul li a{}*/

.home_header_nav-ops ul li a i {
    margin-left: 7px;
}

.home_header_div-bars {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.home_header_div-bars_a-bars {
    border: none;
    background-color: var(--colorCeleste);
    color: var(--colorGrisClaro);
    border-radius: 4px;
    padding: 10px 13px;
}

.home_header_div-banner {
    display: flex;
}

.home_header_div-banner-home {
    width: 100%;
}

/* MAIN */

.home_main {
    background-color: var(--colorGrisClaro);
    text-align: center;
    width: 90%;
}

.home_main_visita {}

.home_main_visita_h5 {
    color: var(--colorGrisOscuro);
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    padding-top: 15px;
}

.home_main_visita_article1 {
    border-top: solid 1px var(--colorGrisClaro);
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_visita_article1-img {
    width: 100%;
}

.home_main_visita_article1-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_visita_article1-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_visita_article1-precio {
    display: flex;
    align-items: start;
}

.home_main_visita_article1-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_visita_article1-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_visita_article2 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_visita_article2-img {
    width: 100%;
}

.home_main_visita_article2-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_visita_article2-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_visita_article2-precio {
    display: flex;
    align-items: start;
}

.home_main_visita_article2-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_visita_article2-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_visita_article3 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_visita_article3-img {
    width: 100%;
}

.home_main_visita_article3-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_visita_article3-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_visita_article3-precio {
    display: flex;
    align-items: start;
}

.home_main_visita_article3-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_visita_article3-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_visita_article4 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_visita_article4-img {
    width: 100%;
}

.home_main_visita_article4-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_visita_article4-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_visita_article4-precio {
    display: flex;
    align-items: start;
}

.home_main_visita_article4-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_visita_article4-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_oferta {}

.home_main_oferta_h5 {
    color: var(--colorGrisOscuro);
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}

.home_main_oferta_article1 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_oferta_article1-img {
    width: 100%;
}

.home_main_oferta_article1-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_oferta_article1-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_oferta_article1-precio {
    display: flex;
    align-items: start;
}

.home_main_oferta_article1-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_oferta_article1-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_oferta_article2 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_oferta_article2-img {
    width: 100%;
}

.home_main_oferta_article2-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_oferta_article2-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_oferta_article2-precio {
    display: flex;
    align-items: start;
}

.home_main_oferta_article2-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_oferta_article2-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_oferta_article3 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_oferta_article3-img {
    width: 100%;
}

.home_main_oferta_article3-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_oferta_article3-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_oferta_article3-precio {
    display: flex;
    align-items: start;
}

.home_main_oferta_article3-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_oferta_article3-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

.home_main_oferta_article4 {
    border-top: solid 1px var(--colorGrisClaro) ;
    margin-bottom: 10px;
    padding: 15px;
}

.home_main_oferta_article4-img {
    width: 100%;
}

.home_main_oferta_article4-truck {
    border: solid 1px var(--colorVerde);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: start;
}

.home_main_oferta_article4-truck i {
    margin-top: 10px;
    color: var(--colorVerde);
}

.home_main_oferta_article4-precio {
    display: flex;
    align-items: start;
}

.home_main_oferta_article4-descuento {
    display: flex;
    align-items: start;
    color: var(--colorVerde);
}

.home_main_oferta_article4-nombre {
    margin-top: 20px;
    display: flex;
    align-items: start;
    color: var(--colorGrisOscuro);
}

/* FOOTER */

.home_footer {
    margin-top: 70px;
}

.home_footer_section-op1 {
    display: inline-block;
    width: 217px;
    height: 135px;
    font-size: 12px;
    text-align: center;
    margin-left: 39px;
}

.home_footer_section-op1_a-card {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

/*.home_footer_section-op1_a-card i {}*/

.home_footer_section-op1_h5-card {
    margin-top: 5px;
    font-size: 14px;
    color: var(--colorGrisOscuro);
}

.home_footer_section-op1_p-card {
    margin-top: 0px;
    color: var(--colorGrisOscuro);
    font-size: 11px;
}

.home_footer_section-op2 {
    display: inline-block;
    width: 217px;
    height: 135px;
    font-size: 12px;
    text-align: center;
    margin-left: 39px;
}

.home_footer_section-op2_a-gift {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

/*.home_footer_section-op2_a-gift i {}*/

.home_footer_section-op2_h5-gift {
    margin-top: 5px;
    font-size: 14px;
    color: var(--colorGrisOscuro);
}

.home_footer_section-op2_p-gift {
    margin-top: 0px;
    color: var(--colorGrisOscuro);
    font-size: 11px;
}

.home_footer_section-op3 {
    display: inline-block;
    width: 217px;
    height: 159px;
    font-size: 12px;
    text-align: center;
    margin-left: 39px;
    margin-bottom: -15px;
}

.home_footer_section-op3_a-shield {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

/*.home_footer_section-op3_a-shield i {}*/

.home_footer_section-op3_h5-shield {
    margin-top: 5px;
    font-size: 14px;
    color: var(--colorGrisOscuro);
}

.home_footer_section-op3_p-shield {
    margin-top: 0px;
    color: var(--colorGrisOscuro);
    font-size: 11px;
}

.home_footer_div {
    color: var(--colorGrisOscuro);
    font-size: 11px;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (min-width: 361px) {

}

@media (min-width: 769px) {
    
}